@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Limelight', san-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    ;
}